dash[diskcache]~=4.0
dwave-ocean-sdk~=9.3
matplotlib~=3.10
scipy~=1.17
pandas~=3.0
# Upgrade Plotly to >= 6 once more information is known about:
# https://github.com/dwave-examples/flow-shop-scheduling/issues/12
plotly~=5.24
tabulate~=0.9
